<h2>Hola, ingrese su nombre:</h2>

<form action="/ingresar" method="post">
<input type="text" name="nombre2" placeholder="su nombre aqui">
<button>Ingresar</button>
</form>

<h1>{{vistas}}{{nombre}}{{nombre2}}</h1>

