<h2>Hola, ingrese su nombre:</h2>

<form action="/ingresar" method="post">
<input type="text" name="nombre2" placeholder="su nombre aqui">
<button>Ingresar</button>
</form>

<h1>Tu nombre es: {{nombre2}}</h1>
<p>Visitas la pagina: {{vistas}} </p>

