/* global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 13vh;
}
nav {
    height: 7vh;
}
.carousel-item {
    height: 80vh;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 50px;
}
