/* global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 13vh;
    background-color: rgba(28, 201, 224, 0.6);
}

nav {
    height: 7vh;
    margin: 5px 0 5px 0;
}

.carousel-item {
    height: 80vh;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 50px;
}

.holder a,
.holder div {
    float: left;
    position: relative;
}

.holder a {
    width: 10%;
}

.holder a {
    display: flex;
    justify-content: center;
    position: relative;
}

.holder a img {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 5%;
    border-radius: 15%;
    position: absolute;
    left: 80%;
}

.holder div {
    position: absolute;
    top: 2%;
    left: 16.5%;
}

footer {
    background-color: rgba(28, 201, 224, 0.6);
}

footer div h3,
footer div h4,
footer div h5 {
    font-size: 1em;
}

.nav-item a.activo {
    background-color: rgba(28, 201, 224, 0.6);
}

.main-nosotros {
    display: flex;
    justify-content: center;
    background-color: rgba(28, 201, 224, 0.2);
}

.div-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.div-item-nosotros {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 201, 224, 0.6);
    margin: 0 10px 5px 5px;
    height: 500px;
    color: white;
}

.div-item-nosotros img {
    border: 2px solid white;
    border-radius: 10%;
    padding: 5px;
}

.div-item-nosotros p {
    width: 50%;
    text-align: center;
}

.body-nosotros {
    height: 100vh;
}

.grid-container {
    background-color: rgba(28, 201, 224, 0.6);
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 800px;
    width: 80%;
    margin: 10px 0 10px 0;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    height: 280px;
    width: 220px;
    border: 1px solid black;
    border-radius: 5%;
    color: white;
}

.main-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 201, 224, 0.6);
    height: 800px;
}

.grid-item img {}

#item1 {
    background-image: url(./Images/cafe-servicios.jpg);
    background-size: cover;
}

#item2 {
    background-image: url(./Images/pasteleria-servicios.jpg);
    background-size: cover;
}

#item3 {
    background-image: url(./Images/wine-servicios.jpg);
    background-size: cover;
}

#item4 {
    background-image: url(./Images/lunch-servicios.jpg);
    background-size: cover;
}

#item5 {
    background-image: url(./Images/cocktails-servicios.jpg);
    background-size: cover;
}

#item6 {
    background-image: url(./Images/chocolate-servicios.jpg);
    background-size: cover;
}

#item7 {
    background-image: url(./Images/catering-servicios.jpg);
    background-size: cover;
}

#item8 {
    background-image: url(./Images/delivery-servicios-asp-ratio-3.jpg);
    background-size: cover;
}

.grid-item button {
    background-color: black;
    color: white;
    border-radius: 10%;
    width: 100px;
    height: 40px;
}