/* global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* landing */

.div-landing {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.div-landing img {
    width: 100vw;
    height: auto;
}

.div-content {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5%;
    width: 30%;
    height: 40%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.div-content i,
h1 {
    float: left;
    color: white;
}

.div-content h1 {
    padding: 6%;
    position: absolute;
    left: 100px;
}

.div-content p {
    position: absolute;
    bottom: 20%;
    width: 60%;
    color: white;
    top: 32%;
    left: 22%;
}

.div-landing a {
    position: absolute;
    top: 60%;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.15);
    width: 10%;
    height: 5%;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.div-landing a:hover {
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

i {
    font-size: 3em;
    color: rgb(148, 226, 218);
    font-size: 4em;
    padding: 5%;
}

#favicon {
    background-color: turquoise;
}