/* global */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    height: 13vh;
    background-color: rgba(28, 201, 224, 0.6);
}

nav {
    height: 7vh;
    margin: 5px 0 5px 0;
}

.carousel-item {
    height: 80vh;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding-bottom: 50px;
}

.holder a,
.holder div {
    float: left;
    position: relative;
}

.holder a {
    width: 10%;
}

.holder a {
    display: flex;
    justify-content: center;
    position: relative;
}

.holder a img {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 5%;
    border-radius: 15%;
    position: absolute;
    left: 80%;
}

.holder div {
    position: absolute;
    top: 2%;
    left: 16.5%;
}

footer {
    background-color: rgba(28, 201, 224, 0.6);
}

footer div h3,
footer div h4,
footer div h5 {
    font-size: 1em;
}

.nav-item a.activo {
    background-color: rgba(28, 201, 224, 0.6);
}

.main-nosotros {
    display: flex;
    justify-content: center;
    background-color: rgba(28, 201, 224, 0.2);
}

.div-nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.div-item-nosotros {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(28, 201, 224, 0.6);
    margin: 0 10px 5px 5px;
    height: 500px;
}

.div-item-nosotros img {
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px;
}

.div-item-nosotros p {
    width: 50%;
    text-align: center;
}

.body-nosotros {
    height: 100vh;
}

.grid-container {
    background-color: thistle;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 400px;
    width: 80%;
    padding: 10px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
    background-color: violet;
    padding: 10px;
    height: 100px;
}

.main-servicios {
    display: flex;
    justify-content: center;
    background-color: rgba(28, 201, 224, 0.6);
    height: 400px;
}

#item1 {
    grid-column: 1 / 4;
    background-color: yellow;
}

#item2 {
    background-color: tomato;
}

#item3 {
    grid-area: 4 / 2 / 4 / 4;
    background-color: yellowgreen;
}

#item4 {
    grid-area: 2 / 1 / 4 / 1;
    background-color: blue;
}

#item5 {
    grid-area: 2 / 2 / 2 / 2;
    background-color: brown;
}

#item6 {
    grid-area: 2 / 3 / 2 / 3;
    background-color: coral;
}

#item7 {
    grid-area: 3 / 2 / 3 / 2;
    background-color: red;
}

#item8 {
    grid-area: 3 / 3 / 3 / 3;
    background-color: black;
}