<!DOCTYPE html>
<html>

  <head>

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
    <link rel="stylesheet" href="/stylesheets/normalize.css" />

  </head>

  <body>

      <header>
        <div class="holder">
            <img src="/images/logo.png" width="100" alt="Transportes X">
            <h1>Transportes X</h1>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>Diseñado por Flavia Ursino - @copy 2022</p>
    </footer>

  </body>

</html>